<header>
    <nav class="navbar">
      <div class="container">
        <h1 id="hd-main">Welcome to {{title}}</h1>
          <ul class="nav navbar-main">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['/donors']">Donors</a></li>
          <li><a [routerLink]="['/banks']">Blood Banks</a></li>
          <li><a [routerLink]="['/aboutus']">About Us</a></li>
          <li class="right-navs"><a [routerLink]="['/register']">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>