<section>
  <div class="container">
    <h1>Donors</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eu metus ac lorem faucibus vulputate. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a sodales est, et ullamcorper ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris turpis justo, sagittis eu pharetra eu, pharetra quis arcu. Proin in ullamcorper ligula, ac scelerisque leo. Quisque quis magna dui.</p>
    <div class="row">
      <div class="col-md-6" *ngFor="let donor of donors">
        <donors-thumbnail [donor]="donor"></donors-thumbnail>
      </div>
    </div>
    <div *ngIf="donors.length == 0">
      <h2>No Entries till now Why Dont you Create one</h2>
    </div>
  </div>
</section>